@{
    ViewData["Title"] = "Pagina Inicial";
}

    <div style="display: flex; flex-direction: column; align-items: center">
    <h1>Bem vindo (a)!</h1>
    <p>Sistema de controle</p>
    <img src="https://user-images.githubusercontent.com/85114441/204699039-1ef456c2-0ad1-498c-99d5-8432c6af6f1d.png" alt="Um cachorro e um gato" height="200" />    
</div>

